#pragma once

#define PROJECT_NAME "@PROJECT_NAME@"
#define PROJECT_VER  "@PROJECT_VERSION@"
#define PROJECT_BUILD_TYPE "@CMAKE_BUILD_TYPE@"
#define PROJECT_BUILD_TOOL "@CMAKE_CXX_COMPILER_ID@"
#define PROJECT_BUILD_VERSION "@CMAKE_CXX_COMPILER_VERSION@"
#define PROJECT_VER_MAJOR @PROJECT_VERSION_MAJOR@
#define PROJECT_VER_MINOR @PROJECT_VERSION_MINOR@
#define PROJECT_VER_PATCH @PROJECT_VERSION_PATCH@

#if defined(_MSC_VER)

#if _MSC_VER >= 1930
#define PROJECT_VS_VERSION "Visual Studio 2022"
#elif _MSC_VER >= 1920
#define PROJECT_VS_VERSION "Visual Studio 2019"
#elif _MSC_VER >= 1910
#define PROJECT_VS_VERSION "Visual Studio 2017"
#elif _MSC_VER >= 1900
#define PROJECT_VS_VERSION "Visual Studio 2015"
#else
#define PROJECT_VS_VERSION "Visual Studio (Unknown)"
#endif
#define PROJECT_FULL_VER "@PROJECT_NAME@ v@PROJECT_VERSION_MAJOR@.@PROJECT_VERSION_MINOR@.@PROJECT_VERSION_PATCH@ (@CMAKE_BUILD_TYPE@ - " PROJECT_VS_VERSION ")"
#else
#define PROJECT_VS_VERSION "Non-MSVC Compiler"
#define PROJECT_FULL_VER "@PROJECT_NAME@ v@PROJECT_VERSION_MAJOR@.@PROJECT_VERSION_MINOR@.@PROJECT_VERSION_PATCH@ (@CMAKE_BUILD_TYPE@ - @CMAKE_CXX_COMPILER_ID@ @CMAKE_CXX_COMPILER_VERSION@)"
#endif

#define PROJECT_WINDOW_TITLE "@PROJECT_NAME@ v@PROJECT_VERSION_MAJOR@.@PROJECT_VERSION_MINOR@.@PROJECT_VERSION_PATCH@"

